*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
    width: 100%;
    max-width: 1215px;
    margin: 0 auto;
    padding: 0 25px;
}
header{
    .container{
        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 13px;
            .navbar_rasm1{
                width: 195px;
            }
            ul{
                list-style: none;
                display: flex;
                    align-items: center;
                    gap: 25px;
                li a{
                    text-decoration: none;
                    color: black;
                     font-weight: 400;
                     font-size: 16px;
                     line-height: 28px;
                }
                
            }
        }
    }
}
main{
    .section1{
        .container{
            .shovkes{
                display: flex;
                justify-content: space-between;
                .shovkes_people{
                    width: 715px;
                     padding-top: 92px;
                .shovkes_people_h2{
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 82px;
                        color: #FF8A56;
                        margin-bottom: 10px;
                    }
                .shovkes_people_h3{
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 82px;
                        color: black;
                        margin-bottom: 30px;
                    }
                .shovkes_people_p{
                    width: 547px;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 33px;
                    color: #666666;
                    margin-bottom: 38px;
                    }

                    .shovkes_button{
                        display: flex;
                        align-items: center;
                        gap: 40px;
                    .shovkes_button2{
                        width: 151px;
                        height: 58px;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 18px;
                            border: 1px solid black;
                            background: black;
                            color: white;
                        }
                        .shovkes_button2:hover{
                            background: silver;
                            color: #666666;
                        }
                        .shovkes_button3{
                            border: none;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 18px;
                            background: none;
                        }
                    }
                }
                .shovkes_people2_rasm{
                    padding-top: 70px;
                    width: 500px;
                }

            }
        }
    }
    .section2{
        .container{
            .product{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 60px;
                margin-bottom: 114px;
                .Product_Designer{
                    width: 590px;
                    .product2{
                        font-weight: 700;
                        font-size: 34px;
                        line-height: 22px;
                        color: #FF5E69;
                    }
                    .product3{
                        font-weight: 700;
                        font-size: 54px;
                        line-height: 59px;
                         padding-top: 15px;
                    }
                }
                .Product_Designer2{
                    width: 625px;
                    color: #666666;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 40px;
                }
            }
        }
    }
    .section3{
        .container{
            .grid{
                // width: 1215px;
                // height: 700px;
                 margin-bottom: 70px;
                 display: grid;
                 grid-template-columns: repeat(4,1fr);
                 grid-template-rows: repeat(3,1fr);
                 gap: 16px;
                 .grid_rasm{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-column: 1/5;
                    grid-row: 1/3;
                 }
                 .grid_rasm:hover{
                    transform: scale(1.3);
                    border-radius: 100px;
                 }
                 .grid_rasm2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-column: 3/4;
                    grid-row: 1/3;
                 }
                  .grid_rasm2:hover{
                    transform: scale(1.2);
                    border-radius: 100px;
                 }
                 .grid_rasm3{
                     display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-column: 4/5;
                    grid-row: 1/2;
                 }
                  .grid_rasm3:hover{
                    transform: scaleX(1.2);
                    border-radius: 100px;
                 }
                 .grid_rasm4{
                     display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-column: 4/5;
                    grid-row: 3/2;
                 }
                  .grid_rasm4:hover{
                    transform: scale(1.1);
                    border-radius: 100px;
                 }
        }
    }
}
}
footer{
    background: #000000;
    .container{
        .finiw{
             padding-top: 150px;
             margin-bottom: 80px;
             .finiw_h2{
                font-weight: 700;
                font-size: 54px;
                line-height: 59px;
                color: #FFFFFF;
                padding-bottom: 10px;
            }
             .finiw_h3{
                font-weight: 700;
                font-size: 54px;
                line-height: 59px;
                color: #3C46FF;
                padding-bottom: 10px;
            }
        }
        .finiwi_content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 125px;
            .portfolio{
                width: 375px;
                .portfolio_rasm{
                    width: 203px;
                    padding-bottom: 14px;
                }
                .portfolio_p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #666666;
                    padding-bottom: 9px;
                }
                .email{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                .email_a{
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 36px;
                    color: #5C5C5C;
                    }
                }
            }
            .content{
                width: 485px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .blog{
                    width: 100px;   
                .blog_a{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 40px;
                    color: #FFFFFF;
                     text-decoration: none;
                   }
                }
                .blog2{
                    width: 100px;
                .blog2_a{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 40px;
                    color: #FFFFFF;
                     text-decoration: none;
                   }
                }
                .blog3{
                    width: 100px;
                .blog3_a{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 40px;
                    color: #FFFFFF;
                     text-decoration: none;
                   }
                }

            }
        }
        .finiwi2{
            display: flex;
            gap: 5px;
            padding-bottom: 30px;
            a{
                text-decoration: none;
                color: #666666;
            }
        }
    }
}

 