*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1215px;
    margin: 0 auto;
}
header{
    .container{
        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 13px;
            .navbar_rasm1{
                width: 195px;
            }
            ul{
                list-style: none;
                display: flex;
                    align-items: center;
                    gap: 40px;
                li a{
                    text-decoration: none;
                    color: black;
                     font-weight: 400;
                     font-size: 16px;
                     line-height: 28px;
                }
            }
        }
    }
}
main{
    .section1{
        .container{
            .shovkes{
                display: flex;
                justify-content: space-between;
                .shovkes_people{
                    width: 715px;
                     padding-top: 92px;
                .shovkes_people_h2{
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 82px;
                        color: #FF8A56;
                        margin-bottom: 10px;
                    }
                .shovkes_people_h3{
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 82px;
                        color: black;
                        margin-bottom: 30px;
                    }
                .shovkes_people_p{
                    width: 547px;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 33px;
                    color: #666666;
                    margin-bottom: 38px;
                    }

                    .shovkes_button{
                        display: flex;
                        align-items: center;
                        gap: 40px;
                    .shovkes_button2{
                        width: 151px;
                        height: 58px;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 18px;
                            border: 1px solid black;
                            background: black;
                            color: white;
                        }
                        .shovkes_button2:hover{
                            background: silver;
                            color: #666666;
                        }
                        .shovkes_button3{
                            border: none;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 18px;
                            background: none;
                        }
                    }
                }
                .shovkes_people2_rasm{
                    padding-top: 70px;
                    width: 500px;
                }

            }
        }
    }
}